[user]
	name  = kunaltyagi
	email = tyagi.kunal@live.com
[credential]
    helper = cache
[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    ch   = checkout
    co   = commit
    st   = status
    br   = branch
    pu   = push
    fe   = fetch
