[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "bash/rmtrash"]
	path = bash/rmtrash
	url = https://github.com/PhrozenByte/rmtrash.git
